# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Streamlit
.streamlit/

# Project runtime/generated data
uploads/*
outputs/*
vector_db/*
models/*

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db